.Loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  position: absolute;
  font-size: 78px;
  font-weight: 400;
  color: #5609bb;
  text-align: center;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
