#footer {
  height: 216px;
  background: #121212;
  @media (max-width: 800px) {
    height: 100%;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;

    .footer_nav {
      display: flex;
      align-items: center;
      width: 500px;
      justify-content: space-between;

      a {
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
      }
    }

    .footer_icons {
      display: flex;
      align-items: center;
      gap: 30px;

      button {
        border: none;
        background: 0;
        color: #ffffff;
        font-size: 30px;
      }
    }
  }

  .footer_line {
    height: 1px;
    background: white;
    width: 100%;
  }

  .footer_text {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
    font-weight: 500;
    @media (max-width: 800px) {
      text-align: left;
    }
  }

  @media (max-width: 414px) {
    .footer {
      display: flex;
      align-items: center;
      padding: 10px;

      .footer_nav {
        display: none;
      }

      .footer_icons {
        gap: 20px;
      }
    }

    .footer_text {
      font-size: 12px;
      padding: 15px 0;
    }
  }
  @media (max-width: 500px) {
    .footer {
      display: flex;
      align-items: center;
      padding: 10px;

      .footer_nav {
        display: none;
      }

      .footer_icons {
        gap: 20px;
      }
    }

    .footer_text {
      font-size: 12px;
      padding: 15px 0;
    }
  }
  @media (max-width: 700px) {
    .footer {
      display: flex;
      align-items: center;
      padding: 10px;

      .footer_nav {
        display: none;
      }

      .footer_icons {
        gap: 20px;
      }
    }

    .footer_text {
      font-size: 12px;
      padding: 15px 0;
    }
  }
  @media (max-width: 890px) {
    .footer {
      display: flex;
      align-items: center;
      padding: 10px;

      .footer_nav {
        display: none;
      }

      .footer_icons {
        gap: 20px;
      }
    }

    .footer_text {
      font-size: 12px;
      padding: 15px 0;
    }
  }
}
